<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shoppingSQL">
	
	<select id="getShoppingList" resultType="shopping">
		select productName,category,productUnit,PRODUCTIMAGENAME
		from milkyproductinfo 
		join milkyproductimage using(productcode)
		where rownum between 1 and 8
	</select>
	<!-- 이미지 주소의 경로를 가져오는게 select PRODUCTIMAGENAME 를 해주는것. 
	
	 -->


</mapper>