@charset "UTF-8";
/* 상품등록 */
#pProductInsert{
	margin: 30px;
	padding: 50px 20px;
}

#pProductInsert #pProductInsertTable {
	margin: auto 20px;
}
#pProductInsert #emptyDiv {
	color: red;
	font-size: 8pt;
	font-weight: bold;
}


/* 상품조회 */
#pProductListDiv #pProductListTable input {
	border: 0;
	outline: 0;
}

#pProductListDiv #pProductListTable .updateBtn {
	width: 45px;
	height: 25px;
	padding: 0;
	display: none;
}

#pProductListDiv #pProductListTable .deleteBtn {
	width: 45px;
	height: 25px;
	padding: 0;
}


/* 물류관리 */
#pStockDiv #pStockTable input {
	border: 0;
	outline: 0;
}
#pStockDiv #pStockTable .updateBtn {
	width: 45px;
	height: 25px;
	padding: 0;
	display: none;
}
#pStockDiv #pStockTable .deleteBtn {
	width: 45px;
	height: 25px;
	padding: 0;
}
