@charset "UTF-8";
#beanNTeaForm #beanMenuDiv ,#beanNTeaForm #teaMenuDiv{
	background : #FAFAD2;
	
	width: 80%;
	height: 50px;  /* 높이는 픽셀로 너비는 % 로 주는게 편함 */
}  /* 패딩으로 픽셀을 주기  스타일안에서 줄떄는 단위를 꼭쓰기 */

#dd {
	border: 1px solid black;
	
}

.bean {
	border-collapse: collapse;
	
	margin: 50px;
}

.bean th{
	border-bottom: none;
} 
/* .bean td {
	 padding: 10px;
	 border-bottom: 1px solid;
} */