@charset "UTF-8";

* {box-sizing: border-box;}
html, body, section, div, button
input, select, textarea {font-family: "Malgun Gothic", "맑은 고딕", arial, sans-serif; }

#headerHeader { 
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
}
#bodySection {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
}