@charset "UTF-8";

* {box-sizing: border-box;}
html, body, section, div, button
input, select, textarea {font-family: "Malgun Gothic", "맑은 고딕", arial, sans-serif; }

#headerHeader { 
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
    background-attachment: fixed;
    background-image: url("/milkyWayForest/image/mainImage2.jpg");
}
#bodySection {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
}
/* 글자 애니메이션 */
.second_section_text {
	font-family: 'Noto Sans KR', sans-serif;
	padding: 6rem 0 0 6rem;
}
.second_section_text h1 {
   animation: showText 2s;
   animation-fill-mode: both;
   animation-delay: 2.5s;
}
.second_section_text h1{
	font-size: 5rem;
	font-weight: bold;
	color: floralwhite;
}
.second_section_text h2{
	font-size: 1.2rem;
	font-style: normal;
	color: floralwhite;
}
.second_section_text h2 {
   animation: showText2 2s;
   animation-fill-mode: both;
   animation-delay: 3s;
}
@keyframes showText {
     0% {
      opacity:0;
      transform:translateX(-550%);
     }
     100% {
      opacity:1;
      transform:translateX(5%);
     }
}
@keyframes showText2 {
     0% {
      opacity:0;
      transform:translateX(-550%);
     }
     100% {
      opacity:1;
      transform:translateX(5%);
     }
}