@charset "UTF-8";
/* banner 사진 (꽉차게) */
* { margin: 0; padding: 0; }

/* 전체 가운데 정렬 */
#companyInfo { display: flex; width: 80%; margin: 0 auto; }

#companeInfo #leftDiv {
	width: 70%;
}
#companyInfo #rightDiv {
	width : 28%;
	margin-left: 2%;
}
/* cp_information_img01의 마진 */
.pic1 { margin-top: 3rem; width: 100%; }
.pic1 img {width: 100%;}

/* "커피 이상의 특별한 경험을 소개합니다." */
.text1 { margin : 1.5rem 0 1.5rem 0; font-style: italic; font-size: 1.5rem; color:#00592D; }

/*"세계인들의~~정착시키고 있습니다"*/
.second_block { position:relative; }
.second_block p {display: inline-block;}
.second_block .text3 {vertical-align: middle;}
.text2 { position:relative; font-size: 1rem;}

/* 동그라미 사진*/
.pic2 { font-size: 1.4rem; color:#00592D; }
