@charset "UTF-8";
*{
	margin:0;
	padding:0;
}

#findIdForm #main-container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	/* margin-top: 21px; */
}
#findIdForm #main-container #main-wrap{
	/* width:768px; */

}

/*** section ***/
#findIdForm section{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 아이디 찾는 방법 선택 */
#findIdForm #findId-select-wrap h2{
	font-size: 20px;
}
#findIdForm #findId-select-wrap p{
	font-size: 15px;
}
#findIdForm #findId-select-wrap ul{
	/* padding-top:25px; */
	list-style: none;
	width: 465px;
	/* display: flex;
	flex-direction: column;
	align-items: center; */
}
#findIdForm #findId-select-wrap ul li{
	/* padding-bottom: 10px; */
}
#findIdForm #findId-select-wrap ul li button{
	width: 230px;
	height: 56px;
	border: solid 1px gray;
	text-align: left;
	background: white;
	display: block;
	float: left;
}
#findIdForm #findId-select-wrap ul li button span{
	padding-left: 20px;
	font-size: 18px;
}

/* 질문으로 찾기 */
#findIdForm #findId-question-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#findIdForm #findId-question-wrap select{
	width: 99%;
	height:30px;
	text-align: center;
	display: block;
	font-size: 14px;
	color: black;
	border: solid 1px gray;
	background: white;
	margin: 5px auto;
	padding: 5px 0;
	margin-bottom: 13px;
}
#findIdForm #findId-question-input-wrap{
	width: 465px;
	height :48px;
	border: solid 1px gray;
	background: white;
	/* margin-top: 13px; */
}

#findIdForm #findId-question-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}

/* 이메일로 찾기 */
#findIdForm #findId-email-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#findIdForm #findId-email-input-wrap, #check-email-input-wrap{
	width: 465px;
	height :48px;
	border: solid 1px gray;
	background: white;
	/* margin-top: 13px; */
	margin-bottom: 13px;
}
#findIdForm #findId-email-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}



#findIdForm #check-email-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}
#findIdForm #check-email-button-wrap, #findIdForm #check-number-button-wrap {
	padding: 13px 0;
}
#findIdForm #check-email-button-wrap button, #findIdForm #check-number-button-wrap button{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: dargray;
	color: black;
	border: solid 1px black;
}




/* 공통 부분 */
#findIdForm #findId-button-wrap {
	padding-top: 13px;
}
#findIdForm #findId-button-wrap button{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: dargray;
	color: black;
	border: solid 1px black;
}