@charset "UTF-8";
#findStoreDiv {
	width: 100%;
	position: relative;
	margin: 0;
	top: -17px;
}
#findStoreDiv #storeList {
	position: absolute;
	width: 375px;
	height: 70%;
	background: white;
	margin: auto 30px;
	top: 60px;
	z-index: 10;
}
#findStoreDiv #storeMap {
	width: 100%;
	height: 900px;
	z-index: 0;
}