@charset "UTF-8";
*{
	margin:0;
	padding:0;
}

#findPwdForm #main-container{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}

/*** section ***/
#findPwdForm section{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#findPwdForm section h2{
	font-size: 20px;
}
#findPwdForm #findPwd-input-wrap p, #findPwdForm #findPwd-setting-wrap p{
	font-size: 15px;
	margin-top: 13px;
}

#findPwdForm #findPwd-input-wrap, #findPwdForm #findPwd-setting-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#findPwdForm #findPwd-id-input-wrap, #findPwdForm #findPwd-email-input-wrap, #findPwdForm #check-number-input-wrap,
#findPwdForm #findPwd-pwd-input-wrap, #findPwdForm #findPwd-repwd-input-wrap {
	width: 465px;
	height :48px;
	border: solid 1px gray;
	background: white;
	/* margin-top: 13px; */
}

#findPwdForm #findPwd-id-input-wrap input, #findPwdForm #findPwd-email-input-wrap input, #findPwdForm #check-number-input-wrap input,
#findPwdForm #findPwd-pwd-input-wrap input, #findPwdForm #findPwd-repwd-input-wrap input{
	border: none;
	width:430px;
	margin: 10px 0;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}
#findPwdForm #check-email-button-wrap, #findPwdForm #check-number-button-wrap, #findPwdForm #findPwd-button-wrap {
	padding: 13px 0;
}
#findPwdForm #check-email-button-wrap button, #findPwdForm #check-number-button-wrap button, #findPwdForm #findPwd-button-wrap button{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: dargray;
	color: black;
	border: solid 1px black;
}





/* 이메일로 찾기 */
#findPwdForm #findId-email-wrap{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#findPwdForm #findId-email-input-wrap, #check-email-input-wrap{
	width: 465px;
	height :48px;
	border: solid 1px gray;
	background: white;
	/* margin-top: 13px; */
	margin-bottom: 13px;
}
#findPwdForm #findId-email-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}



#findPwdForm #check-email-input-wrap input{
	border: none;
	width:430px;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
	height:30px;
}
#findPwdForm #check-email-button-wrap, #findIdForm #check-number-button-wrap {
	padding: 13px 0;
}
#findPwdForm #check-email-button-wrap button, #findIdForm #check-number-button-wrap button{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: dargray;
	color: black;
	border: solid 1px black;
}




/* 공통 부분 */
#findPwdForm #findId-button-wrap {
	padding-top: 13px;
}
#findPwdForm #findId-button-wrap button{
	width: 465px;
	height :48px;
	font-size: 18px;
	background: dargray;
	color: black;
	border: solid 1px black;
}