@charset "UTF-8";
/* rem 반응형웹에서 쓴다 '%'같은 개념 */
/* * { margin : 0; padding : 0; } */
body { margin : 0; }

html { font-size: 18px; }
body { font-size: .6rem; }
a { text-decoration-line: none; }
ul { list-style:none; }
header { background-color : #f6f5ef;  }

/* header의 전체메뉴 */
/* 가운데정렬 = { position: relative; width: 69rem; margin: 0 auto; } */
/* header > div { position: relative; width: 69rem; margin: 0 auto; }  */
header > div {  }
header > div:after { content: ""; display: block; clear: both; }

/* 로고 */
header > div h1 { float: left; padding: 0.1rem 0 0.1rem; }

/*header 하단메뉴*/
header > div .menu { font-size: .7rem; float: right; padding: 4rem 0 0; }
header > div nav > ul > li { float: left; }
header > div nav > ul > li > a { display: block; padding: .75rem 1.4rem 0; height: .4rem; 
font-size: .8rem; color:#333; line-height: 100%; }

/*header 상단메뉴*/
header > div .spot { position: absolute; right: 2.25rem; top: 1rem; }
header > div .spot li { float: left; position: relative; }
header > div .spot li a { padding: 0 .5rem; font-size: .7rem; color:#333; 
line-height: 100%; }
/*header 상단메뉴 미니바*/
header > div .spot li ~ li a:after { content: ""; position: absolute; left: 0; top: 50%; 
width: 1px; height: .6rem; background: #e5e5e5; transform: translateY(-25%); }
/*header 상단메뉴 '검색'옆 미니바 제거*/
header > div .spot li:last-child a:after { display: none; }

/*header 매장검색*/
header > div .spot li:last-child a { display: block; padding: 0; width: 1.7rem;
height: 1rem; background:#fff; border: 1px solid #ccc; text-align: center; line-height: 1rem;
font-size: 0; color: transparent; border-radius: .25rem; }
/*header 매장검색 아이콘*/
header > div .spot li:last-child a:before { content: "\e97a"; font-family: 'xeicon';
font-size: 1rem; color:#000; }
header > div .spot i { display:none; }
header .total { display : none; color: black; }