@charset "UTF-8";
/* 게시판 공통 사항 */
#eventBoardForm, #eventViewForm, #faqBoardForm, #noticeBoardForm, #qnaBoardForm {
	width: 80%;	
	margin: 0 auto;
	padding: 0;
}
#eventBoardForm legend, #eventViewForm legend, #faqBoardForm legend, #noticeBoardForm legend, #qnaBoardForm legend {
	font-size: 23pt;
}
#currentPaging {
	border: 1px solid #ddd;
	font-weight: bold;
	color: blue;
	padding: 3px 8px;
}
#paging {
	padding: 3px 8px;
}



/* 게시판 위치 표시 */
#eventBoardNav, #noticeBoardNav, #eventViewBoardNav, #faqBoardNav, #qnaBoardNav {
	margin-bottom: 30px;
}
#eventBoardNav div, #eventViewBoardNav div, #noticeBoardNav div, #faqBoardNav div, #qnaBoardNav div {
	float: right;
	color: #777;
}
#eventBoardNav a, #noticeBoardNav a, #eventViewBoardNav a, #faqBoardNav a, #qnaBoardNav a {
	text-decoration: none;
	color: #777;
}
/* #eventBoardNav a img, #noticeBoardNav a img, #eventViewBoardNav a img, #faqBoardNav a img, #qnaBoardNav a img {
	margin-bottom: 5px;
} */
#eventBoardNav a:last-child, #noticeBoardNav a:last-child, #eventViewBoardNav a:last-child, #faqBoardNav a:last-child, #qnaBoardNav a:last-child {
	font-weight: bold;
}



/* 공지사항 리스트 */
#noticeBoardForm #noticeBoardSearchDiv {
	background: #eee;
	height: 80px;
}
#noticeBoardForm #noticeBoardSearchDiv div {
	float: right;
	padding-right: 30px;
	margin-top: 20px;
}
#noticeBoardForm #noticeBoardSearchDiv #noticeBoardSearch {
	border: 1px solid #aaa;
	height: 40px;
	margin-right: 5px;
}
#noticeBoardForm #noticeBoardSearchDiv #noticeBoardSearchBtn {
	height: 40px;
	padding: 5px 20px;
	margin-bottom: 5px;
	background: #154520;
	color: white;
}
#noticeBoardForm #noticeBoardTable th {
	text-align: center;
}



/* 이벤트 리스트 */
#eventBoardForm #eventBoardNowDiv, #eventBoardForm #eventBoardEndDiv {
	background: #eee;
	font-size: 15pt;
	font-weight: bold;
	padding: 20px 30px;
}

#eventBoardForm #eventBoardNowBody, #eventBoardForm #eventBoardEndBody {
	display: grid;
	/* grid-template-row: minmax(100px, auto); */
	grid-template-columns: 24% 24% 24% 24%;
	column-gap: 2%;
}



/* 이벤트 글내용 */
#eventViewForm #eventViewTable {
	width: 100%;
	border-bottom: 1px solid #999;
}
#eventViewForm #eventViewTable th {
	border: 1px solid #999;
	font-size: 18pt;
	padding: 5px;
}
#eventViewForm #eventViewDate {
	float: right;
	padding: 9px 20px;
	font-size: 8pt;
	color: #999;
	font-weight: normal;
	vertical-align: middle;
}
#eventViewForm #eventViewTable td {
	padding: 20px;
}
#eventViewForm #eventViewTable tr:first-child {
	border: 1px solid #999;
} 
#eventViewForm #eventListBtn {
	width: 100px;
	height: 35px;
	float: right;
}
#eventViewForm:after {
	content: '';
	clear: both;
}


/* 문의 게시판 */
#qnaBoardWriteDiv {
	width: 80%;
	margin: 0 auto;
}

#qnaBoardWriteDiv #qnaBoardWriteInfo {
	margin: 40px;
	padding: 40px;
	border: 1px solid gold;
}

#qnaBoardWriteDiv #qnaBoardWriteTable {
	margin: 90px 0 30px 0;
}

#qnaBoardWriteDiv #qnaBoardWriteTable input,
#qnaBoardWriteDiv #qnaBoardWriteTable select {
	width: 85%;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #999;
	vertical-align: bottom;
}

#qnaBoardWriteDiv #qnaBoardWriteTable textarea {
	width: 85%;
}
#qnaBoardForm #qnaBoardPaging {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}