@charset "UTF-8";
/* 게시판 공통 사항 */
#eventBoardForm, #eventViewForm, #faqBoardForm, #noticeBoardForm, #qnaBoardForm {
	width: 70%;	
	margin: 0 auto;
	padding: 0;
}
#eventBoardForm legend, #noticeBoardViewForm legend, #eventViewForm legend, #faqBoardForm legend, #noticeBoardForm legend, #qnaBoardForm legend {
	font-size: 23pt;
}
#boardPagingDiv {
width: 70%;
	text-align: center;
	margin: 0 auto;
}

#currentPaging {
	border: 1px solid #ddd;
	font-weight: bold;
	color: blue;
	padding: 3px 8px;
}
#paging {
	padding: 3px 8px;
}


/* 게시판 위치 표시 */
#eventBoardNav, #noticeBoardNav, #eventViewBoardNav, #faqBoardNav, #qnaBoardNav {
	margin-bottom: 30px;
}
#eventBoardNav div, #eventViewBoardNav div, #noticeBoardNav div, #faqBoardNav div, #qnaBoardNav div {
	float: right;
	color: #777;
}
#eventBoardNav a, #noticeBoardNav a, #eventViewBoardNav a, #faqBoardNav a, #qnaBoardNav a {
	text-decoration: none;
	color: #777;
}
/* #eventBoardNav a img, #noticeBoardNav a img, #eventViewBoardNav a img, #faqBoardNav a img, #qnaBoardNav a img {
	margin-bottom: 5px;
} */
#eventBoardNav a:last-child, #noticeBoardNav a:last-child, #eventViewBoardNav a:last-child, #faqBoardNav a:last-child, #qnaBoardNav a:last-child {
	font-weight: bold;
}



/* 공지사항 리스트 */
#noticeBoardForm #noticeBoardSearchDiv {
	background: #eee;
	height: 80px;
}
#noticeBoardForm #noticeBoardSearchDiv div {
	float: right;
	padding-right: 30px;
	margin-top: 20px;
}
#noticeBoardForm #noticeBoardSearchDiv #noticeBoardSearch {
	border: 1px solid #aaa;
	height: 40px;
	margin-right: 5px;
}
#noticeBoardForm #noticeBoardSearchDiv #noticeBoardSearchBtn {
	height: 40px;
	padding: 5px 20px;
	margin-bottom: 5px;
	background: #154520;
	color: white;
}
#noticeBoardForm #noticeBoardTable th {
	text-align: center;
}

/* 공지사항 글내용 */
#noticeBoardViewForm {
	width: 70%;
	margin: 0 auto;
}
#noticeBoardViewForm #noticeSubject {
	border-top : 1px solid #222;
	border-bottom : 1px solid #222;
	font-size: 15pt;
	font-weight: bold;
	padding: 15px;
	margin: 20px 0; 
}
#noticeBoardViewForm #noticeDate {
	font-size: 10pt;
	font-weight: normal;
	padding: 5px;
	color: #999;
	text-align: right;
	margin: 0;
}

#noticeBoardViewForm #noticeContent {
	border-bottom : 1px solid #999;
	margin: 20px 0;
	padding: 50px 15px;
	font-size: 10pt;
}
#noticeBoardViewForm #noticeContent img {
	margin: 50px 0 0 0;
}
#noticeBoardViewForm #noticeListBtnDiv {
	text-align: right;
}
#noticeListBtnDiv #noticeListBtn {
	margin-right: 10px;
	padding: 8px 30px;
	
}

/* 이벤트 리스트 */
#eventBoardForm #eventBoardNowDiv, #eventBoardForm #eventBoardEndDiv {
	background: #eee;
	font-size: 15pt;
	font-weight: bold;
	padding: 20px 30px;
}

#eventBoardForm #eventBoardNowBody, #eventBoardForm #eventBoardEndBody {
	display: grid;
	/* grid-template-row: minmax(100px, auto); */
	grid-template-columns: 23% 23% 23% 23%;
	column-gap: 2%;
	row-gap: 3%;
	margin-top: 20px;
	width: 102%;
}
#eventBoardForm .endEventA {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#eventBoardForm .endEvent {
	position: absolute;
	background: #222;
	opacity: 0.7;
	width: 100%;
	height: 100%;	
}
#eventBoardForm .endEvent img {
	position: absolute;
	left: 40%;
	top: 25%;
	margin-left: -17%;
	width: 50%;
}
#eventBoardForm #eventDate {
	padding: 5px;
	font-size: 9pt;
	color: #999;
	font-weight: normal;
}


/* 이벤트 글내용 */
#eventViewForm #eventViewTable {
	width: 100%;
	border-bottom: 1px solid #999;
}
#eventViewForm #eventViewTable th {
	border: 1px solid #999;
	font-size: 18pt;
	padding: 15px 20px;
}
#eventViewForm #eventViewDate {
	padding: 5px 10px 10px 10px;
	font-size: 8pt;
	color: #999;
	font-weight: normal;
}
#eventViewForm #eventViewTable td {
	padding: 30px 10px;
}
#eventViewForm #eventViewContent img {
	width: 100%;
	margin: -2px;
}
#eventViewForm #eventViewTable tr:first-child {
	border: 1px solid #999;
} 
#eventViewForm #eventListBtn {
	padding: 8px 30px;
	margin-right: 10px;
	float: right;
}
#eventViewForm:after {
	content: '';
	clear: both;
}


/* 문의 게시판 */
#qnaBoardWriteDiv {
	width: 80%;
	margin: 0 auto;
}

#qnaBoardWriteDiv #qnaBoardWriteInfo {
	margin: 40px;
	padding: 40px;
	border: 1px solid gold;
}

#qnaBoardWriteDiv #qnaBoardWriteTable {
	margin: 90px 0 30px 0;
}

#qnaBoardWriteDiv #qnaBoardWriteTable input,
#qnaBoardWriteDiv #qnaBoardWriteTable select {
	width: 85%;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #999;
	vertical-align: bottom;
}

#qnaBoardWriteDiv #qnaBoardWriteTable textarea {
	width: 85%;
}
#qnaBoardForm #qnaBoardPaging {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}
#qnaBoardTable .qnaSubject:hover {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
#qnaBoardTable .pwdWrite {
	display: none;
}
#qnaBoardTable .pwdWriteShow {
	visibility: visible;
}
#qnaBoardTable .contentHide {
	display: none;
}
#qnaBoardTable .contentShow {
	visibility: visible;
}
#qnaBoardTable .qndPwdCheck {
	color: red; 
	font-size: 8pt;
	margin-top: 10px;
}


/* 자주 묻는 질문 */
#faqBoardForm .faqSubject:hover {
	color: blue;
}
#faqBoardForm .faqContentHidden {
	display: none;
}
#faqBoardForm .faqContent {
	visibility: visible;
}
