@charset "UTF-8";

#productForm a { text-decoration-line: none; }
#productForm header { background-color : #f6f5ef; }
#productForm li {list-style: none; }
/*상,하단 메뉴*/
#productForm header > div { position: relative; width: 69rem; margin: 0 auto; } /*width~margin 가운데정렬*/
#productForm header > div:after { content: ""; display: block; clear: both; }
/*로고*/
#productForm header > div h1{ float: left; padding: 0.1rem 0 0.1rem; }

/*하단메뉴*/
#productForm header > div .menu { font-size: .6rem; float: right; padding: 4rem 0 0; }
#productForm header > div nav > ul > li { float: left; }
#productForm header > div nav > ul > li > a { display: block; padding: .75rem 1.4rem 0; height: .4rem; 
font-size: .8rem; color:#333; line-height: 100%; }

/*상단메뉴*/
#productForm header > div .spot { position: absolute; right: 2.25rem; top: 1rem; }
#productForm header > div .spot li { float: left; position: relative; }
#productForm header > div .spot li a { padding: 0 .5rem; font-size: .7rem; color:#333; 
line-height: 100%; }
/*상단메뉴 미니바*/
#productForm header > div .spot li ~ li a:after { content: ""; position: absolute; left: 0; top: 50%; 
width: 1px; height: .6rem; background: #e5e5e5; transform: translateY(-25%); }
/*상단메뉴 '검색'옆 미니바 제거*/
#productForm header > div .spot li:last-child a:after { display: none; }

/*매장검색*/
#productForm header > div .spot li:last-child a { display: block; padding: 0; width: 1.7rem;
height: 1rem; background:#fff; border: 1px solid #ccc; text-align: center; line-height: 1rem;
font-size: 0; color: transparent; border-radius: .25rem; }
/*매장검색 아이콘*/
#productForm header > div .spot li:last-child a:before { content: "\e97a"; font-family: 'xeicon';
font-size: 1rem; color:#000; }
#productForm header > div .spot i { display:none; }
#productForm header .total { display : none; }





#productForm h1 {
	margin: 50px;
	
}

/* 게시판 목록네비  */
#productForm #productNav {  
	margin-bottom: 90px;
	margin-right: 90px;
}

#productForm #productNav div{
	float: right;
	color: #777;
}

#productForm #productNav a{
	text-decoration: none;
	color: #777;
	
}
#productForm #productNav a:last-child {
	font-weight: bold;
	
}

/* 상품메뉴 */
#productForm #productMenu {
	border: 1px solid silver;
	padding : 20px;
	margin: 50px auto;
	width: 80%;
}

#productForm #productMenuSubject {
	font-size : 20px;
	font-weight: bold; 
	
}
#productForm #productMenu li {
	
	list-style: none;
	font-size : 18px;
}


#productForm #mugMenuDiv,
#productForm #glassMenuDiv, 
#productForm #plasticMenuDiv, 
#productForm #stainlessMenuDiv,
#productForm #thermosMenuDiv, 
#productForm #coffeEtcMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 50px auto;
	font-size : 20px;
	font-weight: bold; 
}

#productForm #productMenu a:link { color: black; text-decoration: none; }
#productForm #productMenu a:visited { color: black; text-decoration: none; }
#productForm #productMenu a:hover { color: darkgreen; text-decoration: underline; }
#productForm #productMenu a:active { color: black; text-decoration: none; }

