@charset "UTF-8";

/* 원두/차 메뉴 */

#beanNTeaForm h1 {
	margin: 50px;
}

/* 원두/차 게시판 목록네비  */
#beanNTeaForm #beanNTeaNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#beanNTeaForm #beanNTeaNav div{
	float: right;
	color: #777;
}

#beanNTeaForm #beanNTeaNav a{
	text-decoration: none;
	color: #777;
	
}
#beanNTeaForm #beanNTeaNav a:last-child {
	font-weight: bold;
	
}

#beanNTeaForm #beanNTeaMenu {
	border: 1px solid silver;
	padding : 20px;
	margin: 50px auto;
	/* margin-top: 100px;  */
	width: 80%;
}
#beanNTeaForm #beanNTeaMenuSubject {
	
	font-size : 20px;
	font-weight: bold; 
	
}

#beanNTeaForm #beanNTeaMenu li {
	list-style: none;
	font-size : 18px;
	
}

#beanNTeaForm #beanMenuDiv ,#beanNTeaForm #teaMenuDiv{
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 10px auto;
	font-size : 20px;
	font-weight: bold; 
	
	
	/* 높이는 픽셀로 너비는 % 로 주는게 편함 */
}  /* 패딩으로 픽셀을 주기  스타일안에서 줄때는 단위를 꼭쓰기 */

#beanNTeaForm #beanNTeaMenu a:link { color: black; text-decoration: none; }
#beanNTeaForm #beanNTeaMenu a:visited { color: black; text-decoration: none; }
#beanNTeaForm #beanNTeaMenu a:hover { color: darkgreen; text-decoration: underline; }
#beanNTeaForm #beanNTeaMenu a:active { color: black; text-decoration: none; }




/* 상품 메뉴 */

#productForm h1 {
	margin: 50px;
	
}

/*  상품 > 게시판 목록네비  */
#productForm #productNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#productForm #productNav div{
	float: right;
	color: #777;
}

#productForm #productNav a{
	text-decoration: none;
	color: #777;
	
}
#productForm #productNav a:last-child {
	font-weight: bold;
	
}

/* 상품메뉴박스 */
#productForm #productMenu {
	border: 1px solid silver;
	padding : 20px;
	margin: 50px auto;
	width: 80%;
}

#productForm #productMenuSubject {
	font-size : 20px;
	font-weight: bold; 
	
}
#productForm #productMenu li {
	
	list-style: none;
	font-size : 18px;
}


#productForm #mugMenuDiv,
#productForm #glassMenuDiv, 
#productForm #plasticMenuDiv, 
#productForm #stainlessMenuDiv,
#productForm #thermosMenuDiv, 
#productForm #coffeEtcMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 50px auto;
	font-size : 20px;
	font-weight: bold; 
}

#productForm #productMenu a:link { color: black; text-decoration: none; }
#productForm #productMenu a:visited { color: black; text-decoration: none; }
#productForm #productMenu a:hover { color: darkgreen; text-decoration: underline; }
#productForm #productMenu a:active { color: black; text-decoration: none; }


/* 원두리스트 메뉴 폼 */

#beanListForm h1 {
	margin: 50px;
}

/* 게시판 목록네비  */
#beanListForm #beanListNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#beanListForm #beanListNav div{
	float: right;
	color: #777;
	
}

#beanListForm #beanListNav a{
	text-decoration: none;
	color: #777;
	
}
#beanListForm #beanListNav a:last-child {
	font-weight: bold;
	
}


#beanListForm .productGroup {
	margin-bottom: 180px;
	margin-right: 110px;
	
}

#beanListForm .productGroup div{
	float: right;
	
}

#beanListForm .productGroup select {
	padding : 5px 10px;
	/* margin-bottom: 30px;
	margin-right: 80px;  */
}


#beanListForm #beanMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 20px auto;
	font-size : 20px;
	font-weight: bold;
}
#beanListForm .beanList1 li {
	display: inline-block;
	list-style: none;
	font-size : 18px;
	margin-left: 80px
}


/* 차 리스트 메뉴 */

#teaListForm h1 {
	margin: 50px;
}


/* 차 리스트 게시판 목록네비  */
#teaListForm #teaListNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#teaListForm #teaListNav div{
	float: right;
	color: #777;
}

#teaListForm #teaListNav a{
	text-decoration: none;
	color: #777;
	
}
#teaListForm #teaListNav a:last-child {
	font-weight: bold;
	
}

#teaListForm .productGroup {
	margin-bottom: 180px;
	margin-right: 110px;
	
	
}
#teaListForm .productGroup div{
	float: right;
	
}

#teaListForm .productGroup select {
	padding : 5px 10px;
	/* margin-bottom: 30px;
	margin-right: 80px;  */
}


#teaListForm #teaMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 20px auto;
	font-size : 20px;
	font-weight: bold;
}
#teaListForm .teaList1 li {
	display: inline-block;
	list-style: none;
	font-size : 18px;
	margin-left: 80px
}


/* 머그 리스트 메뉴 */
#mugListForm h1 {
	margin: 50px;
}


/* 머그 리스트 게시판 목록네비  */
#mugListForm #mugListNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#mugListForm #mugListNav div{
	float: right;
	color: #777;
}

#mugListForm #mugListNav a{
	text-decoration: none;
	color: #777;
	
}
#mugListForm #mugListNav a:last-child {
	font-weight: bold;
	
}

#mugListForm .productGroup {
	margin-bottom: 180px;
	margin-right: 110px;
	
	
}
#mugListForm .productGroup div{
	float: right;
	
}

#mugListForm .productGroup select {
	padding : 5px 10px;
	/* margin-bottom: 30px;
	margin-right: 80px;  */
}



#mugListForm #mugMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 20px auto;
	font-size : 20px;
	font-weight: bold;
}
#mugListForm .mugList1 li {
	display: inline-block;
	list-style: none;
	font-size : 18px;
	margin-left: 80px
}


/* 글라스 리스트 메뉴 */
#glassListForm h1 {
	margin: 50px;
}

/* 글라스 리스트 게시판 목록네비  */
#glassListForm #glassListNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#glassListForm #glassListNav div{
	float: right;
	color: #777;
}

#glassListForm #glassListNav a{
	text-decoration: none;
	color: #777;
	
}
#glassListForm #glassListNav a:last-child {
	font-weight: bold;
	
}

#glassListForm .productGroup {
	margin-bottom: 180px;
	margin-right: 110px;
	
}

#glassListForm .productGroup div{
	float: right;
	
}

#glassListForm .productGroup select {
	padding : 3px;
}


#glassListForm #glassMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 20px auto;
	font-size : 20px;
	font-weight: bold;
}
#glassListForm .glassList1 li {
	display: inline-block;
	list-style: none;
	font-size : 18px;
	margin-left: 80px
}

/* 플라스틱텀블러 리스트 메뉴 */

#plasticTumblrListForm h1 {
	margin: 50px;
}

/* 플라스틱 텀블러 리스트 게시판 목록네비  */
#plasticTumblrListForm #plasticTumblrListNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#plasticTumblrListForm #plasticTumblrListNav div{
	float: right;
	color: #777;
}

#plasticTumblrListForm #plasticTumblrListNav a{
	text-decoration: none;
	color: #777;
	
}
#plasticTumblrListForm #plasticTumblrListNav a:last-child {
	font-weight: bold;
	
}

#plasticTumblrListForm .productGroup {
	margin-bottom: 180px;
	margin-right: 110px;
	
}

#plasticTumblrListForm .productGroup div{
	float: right;
	
}


#plasticTumblrListForm .productGroup select {
	padding : 3px;
}


#plasticTumblrListForm #plasticTumblrMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 20px auto;
	font-size : 20px;
	font-weight: bold;
}
#plasticTumblrListForm .plasticTumblrList1 li {
	display: inline-block;
	list-style: none;
	font-size : 18px;
	margin-left: 80px
}


/* 스테인리스텀블러 리스트 메뉴 */

#stainlessTumblrForm h1 {
	margin: 50px;
}


/* 스테인리스 텀블러 리스트 게시판 목록네비  */
#stainlessTumblrListForm #stainlessTumblrListNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#stainlessTumblrListForm #stainlessTumblrListNav div{
	float: right;
	color: #777;
}

#stainlessTumblrListForm #stainlessTumblrListNav a{
	text-decoration: none;
	color: #777;
	
}
#stainlessTumblrListForm #stainlessTumblrListNav a:last-child {
	font-weight: bold;
	
}

#stainlessTumblrListForm .productGroup {
	margin-bottom: 180px;
	margin-right: 110px;
	
}

#stainlessTumblrListForm .productGroup div{
	float: right;
	
}

#stainlessTumblrListForm .productGroup select {
	padding : 3px;
}


#stainlessTumblrListForm #stainlessTumblrMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 20px auto;
	font-size : 20px;
	font-weight: bold;
}
#stainlessTumblrListForm .stainlessTumblrList1 li {
	display: inline-block;
	list-style: none;
	font-size : 18px;
	margin-left: 80px
}


/* 보온병 리스트 메뉴 */

#thermosListForm h1 {
	margin: 50px;
}

/* 보온병 리스트 게시판 목록네비  */
#thermosListForm #thermosListNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#thermosListForm #thermosListNav div{
	float: right;
	color: #777;
}

#thermosListForm #thermosListNav a{
	text-decoration: none;
	color: #777;
	
}
#thermosListForm #thermosListNav a:last-child {
	font-weight: bold;
	
}

#thermosListForm .productGroup {
	margin-bottom: 180px;
	margin-right: 110px;
	
}

#thermosListForm .productGroup div{
	float: right;
	
}

#thermosListForm .productGroup select {
	padding : 3px;
}


#thermosListForm #thermosMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 20px auto;
	font-size : 20px;
	font-weight: bold;
}
#thermosListForm .thermosList1 li {
	display: inline-block;
	list-style: none;
	font-size : 18px;
	margin-left: 80px
}


/* 커피용품 리스트 메뉴 */

#coffeeEtcListForm h1 {
	margin: 50px;
}

/* 커피용품 리스트 게시판 목록네비  */
#coffeeEtcListForm #coffeeEtcListNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#coffeeEtcListForm #coffeeEtcListNav div{
	float: right;
	color: #777;
}

#coffeeEtcListForm #coffeeEtcListNav a{
	text-decoration: none;
	color: #777;
	
}
#coffeeEtcListForm #coffeeEtcListNav a:last-child {
	font-weight: bold;
	
}

#coffeeEtcListForm .productGroup {
	margin-bottom: 180px;
	margin-right: 110px;
	
}

#coffeeEtcListForm .productGroup div{
	float: right;
	
}

#coffeeEtcListForm .productGroup select {
	padding : 3px;
}


#coffeeEtcListForm #coffeeEtcMenuDiv {
	background : #eee;
	width: 80%;
	height: 25px;  
	padding: 20px;
	margin: 20px auto;
	font-size : 20px;
	font-weight: bold;
}
#coffeeEtcListForm .coffeeEtcList1 li {
	display: inline-block;
	list-style: none;
	font-size : 18px;
	margin-left: 80px
}


/* 쇼핑 상세페이지 */

#shoppingDetailForm h1 {
	margin: 50px;
}


/* 게시판 목록네비  */

#shoppingDetailForm #shoppingDetailNav {  
	margin-bottom: 90px;
	margin-right: 110px;
}

#shoppingDetailForm #shoppingDetailNav div{
	float: right;
	color: #777;
}

#shoppingDetailForm #shoppingDetailNav a{
	text-decoration: none;
	color: #777;
	
}
#shoppingDetailForm #shoppingDetailNav a:last-child {
	font-weight: bold;
	
}

#shoppingDetailForm .productView {
	position: relative;
	padding: 0 0 0 600px ; 
	width: 950px;
	box-sizing: border-box; 
	margin: 0 auto;
}

#shoppingDetailForm .productView #productKorName {
	font-size: 24px;
}

#shoppingDetailForm .productView #productEngName {
	font-size: 24px;
	border-bottom: 1px solid black;
	padding : 0 0 20px 0;
	
	
}

#shoppingDetailForm .productView .shoppingDetailImg {
	position:absolute;
	left: 70px;
	top: 20px;
}
#shoppingDetailForm .productView .shoppingDetailImg > img {
	border: 1px solid silver;
	width: 370px;
	height: 380px;
}

#shoppingDetailForm .productView .shoppingDetailImg li:after {
	content:"";
	display: block;
	clear:both;
	
}

#shoppingDetailForm .productView .shoppingDetailImg ul {
	left: 70px;
	
}

#shoppingDetailForm .productView .shoppingDetailImg li {
	float:left;
	list-style: none;
	padding: 10px 10px 0 0;
}

#shoppingDetailForm .productView .shoppingDetailImg li.on img {
	border-color: #0a56a9;
}


#shoppingDetailForm .productView .shoppingDetailImg li img {
	border: 1px solid silver;
	width: 70px;
	height: 70px;
}

#shoppingDetailForm #detailTable {
	width: 400px;
	
}

#shoppingDetailForm table td {
	padding: 12px 0; 
	font-size: 14px;
	color: black;
	
}

#shoppingDetailForm table td.price {
	font-size: 19px;
	color:  #ccc;
	
}

#shoppingDetailForm table td.price b {
	font-size: 22px;
	
}

#shoppingDetailForm table td.total {
	font-size: 19px;
	color:  #0a56a9;
	
}

#shoppingDetailForm table td.total b {
	font-size: 22px;
	
}
#shoppingDetailForm table .length {
	position: relative;
	border: 1px solid  #ccc;
	width: 70px;
	height: 32px;
	
}

#shoppingDetailForm table .length input {
	width: 44px;
	height: 31px;
	border: none;
	border-right:1px solid #c6c6c6;
	text-align:center;
}

#shoppingDetailForm table .length a {
	overflow: hidden;
	position: absolute;
	right: 0;
	
	width: 20px;
	height: 15px;
	color: transparent;  /* 글자를 투명하게 가려주는것  */
}
#shoppingDetailForm .productView table .length a:nth-of-type(1) {
	top: 0;
	background :url("/milkyWayForest/image/ico_up.png")
	no-repeat center;

}

#shoppingDetailForm .productView table .length a:nth-of-type(2) {
	bottom: 0;
	background :url("/milkyWayForest/image/ico_down.png")
	no-repeat center;
	border-top:1px solid #c6c6c6;
}

#shoppingDetailForm .productView .shoppingSelect {
	width:70%;
	border: 1px solid #c6c6c6;
	box-sizing: border-box;
	background: url("/milkyWayForest/image/ico_select.png") 
	no-repeat right 6px center;
	appearance: none; 
	
}

#shoppingDetailForm .productView .btnDiv {
	padding: 30px 0 0 15px; 
	text-align: center;
	
	
}

#shoppingDetailForm .productView #wishListBtn {
	width: 100px;
	height: 40px;
	font-size: 15px;
	border-radius: 5px;
	background : white;	
	color: #154520; 
	font-weight: bold;

}

#shoppingDetailForm .productView #cartBtn {
	width: 100px;
	height: 40px;
	font-size: 15px;
	border-radius: 5px;
	background : white;	
	color: #154520; 
	font-weight: bold;
		
}	
#shoppingDetailForm .productView #purchaseBtn {
	width: 100px;
	height: 40px;
	font-size: 15px;
	border-radius: 5px;
	background : #154520; 
	color:  white; 
	font-weight: bold;
		
}	
	